.avatar {
    display: flex;
    place-items: center;
    /* background-image: url('/borders/emerald.png'); */
    background-size: 150%;
    background-position-x: 50%;
    background-position-y: 71%;
    width: 128px;
    height: 128px;
    & img:not(.background-img) {
        border-radius: 50%;
        width: 96px;
        height: 96px;
    }
    overflow: hidden;
}
.img-wrapper {
    width: 100%;
    place-items: center;
    position: relative;
    z-index: 2;
}
.background-img {
    position: absolute;
    display: flex;
    place-items: center;
    pointer-events: none;
    overflow: hidden;
    width: 288px;
    height: auto;
    transform: translate(-80px, -37.5px);
    z-index: 1;
    transition: filter 1s;
}
.player {
    border: 4px solid transparent;
    border-image: linear-gradient(var(--grey-light) 70%, var(--grey-dark)) 1;
    background: radial-gradient(var(--bg-blue-light), var(--bg-blue-dark));
    transition: box-shadow ease .5s;
    & .border-divider {
        border-left: 4px solid transparent;
        border-image: linear-gradient(var(--grey-light) 70%, var(--grey-dark)) 1;
    }
}
.gold-border {
    border: 4px solid transparent;
    border-image: linear-gradient(var(--gold-light) 70%, var(--gold-dark)) 1;
    & .border-divider {
        border-left: 4px solid transparent;
        border-image: linear-gradient(var(--gold-light) 70%, var(--gold-dark)) 1;
    }
}
.silver-border {
    border: 4px solid transparent;
    border-image: linear-gradient(var(--silver-light) 70%, var(--silver-dark)) 1;
    & .border-divider {
        border-left: 4px solid transparent;
        border-image: linear-gradient(var(--silver-light) 70%, var(--silver-dark)) 1;
    }
}
.bronze-border {
    border: 4px solid transparent;
    border-image: linear-gradient(var(--bronze-light) 70%, var(--bronze-dark)) 1;
    & .border-divider {
        border-left: 4px solid transparent;
        border-image: linear-gradient(var(--bronze-light) 70%, var(--bronze-dark)) 1;
    }
}
.player:hover {
    cursor: pointer;
}
.player:hover,
.avatar-big:hover {
    /* CSS classes for each rank -> easier than setting this rule dynamically in Player component */
    & .iron {
        filter: drop-shadow(0 0 8px var(--rank-iron));
    }
    & .bronze {
        filter: drop-shadow(0 0 8px var(--rank-bronze));
    }
    & .silver {
        filter: drop-shadow(0 0 8px var(--rank-silver));
    }
    & .gold {
        filter: drop-shadow(0 0 8px var(--rank-gold));
    }
    & .platinum {
        filter: drop-shadow(0 0 8px var(--rank-platinum));
    }
    & .emerald {
        filter: drop-shadow(0 0 8px var(--rank-emerald));
    }
    & .diamond {
        filter: drop-shadow(0 0 8px var(--rank-diamond));
    }
    & .master {
        filter: drop-shadow(0 0 8px var(--rank-master));
    }
}
.cell {
    display: flex;
    flex: 1;
    place-items: center;
    text-align: center;
    & > * {
        flex: 1;
        place-items: center;
    }
}
.player-main {
    display: flex;
    padding-left: 1rem;
    flex: 1;
    align-items: center;
    text-align: center;
    & > div {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}
.player-name {
    font-size: 1.5rem !important;
    padding: 1rem 0;
}