.footer {
    /* background:
        url('/particles/lcu_magic_3_horizontal.png') repeat,
        url('/particles/sri_rec_item_hover_magic_256x256_blue.png') repeat;
    background-size: 200% 200%, 200% 200%;
    animation: slide-bg 2s infinite linear; */
}
@keyframes slide-bg {
    from {
        background-position-x: 100%, -100%;
        background-position-y: 200%, -100%;
    }
    to {
        background-position-x: -100%, 100%;
        background-position-y: -200%, 200%;
    }
}