.home-button {
    background: linear-gradient(#C4A15B 40%, #7a5917);
    background-clip: text;
    background-size:
        100% 100%;
    transition: text-shadow .5s;
    color: transparent !important;
}
.home-button:hover {
    background:
        linear-gradient(-45deg, transparent 0%, transparent 40%, #ffffff 50%, transparent 60%),
        linear-gradient(#C4A15B, #7a5917);
    background-size:
        300% 100%,
        100% 100%;
    background-clip: text;
    text-shadow: 0 0 .25rem #C4A15B;
    animation: sheen 5s infinite;
}
.header {
    display: flex;
    flex-direction: column;
    place-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(11, 18, 31, 0.7);
    backdrop-filter: blur(2px);
    z-index: 1;
    margin-bottom: 8rem;
}