html, body, #root {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
body {
    min-height: 100vh;
    background:
        radial-gradient(circle at top, var(--bg-blue-dark) 60%, transparent),
        radial-gradient(ellipse at bottom, #1a3044, transparent);
}
main {
    display: flex;
    flex-direction: column;
    place-items: center;
    flex: 1;
}
@keyframes sheen {
    0% {
        background-position: 0% 0%;
    }
    33%, 100% {
        background-position: 100% 0%;
    }
}
@keyframes sheen-header {
    0% {
        background-position: -100% 0%, center center;
    }
    33%, 100% {
        background-position: 100% 0%, center center;
    }
}
h2 {
    background: linear-gradient(-45deg, var(--gold-light) 0%, var(--gold-light) 40%, var(--white-gold) 50%, var(--gold-light) 60%);
    background-clip: text;
    background-size: 300%;
}
h2:hover {
    color: transparent !important;
    animation: sheen 3s 1;
}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    place-items: center;
}
.lol-button {
    border-width: 1px solid transparent !important;
    border-image: linear-gradient(var(--gold-light), var(--gold-dark)) 1 !important;
    transition: box-shadow .5s;
    &:hover {
        box-shadow:
            0 0 10px 1px #c0fcfd66;
    }
}