html, body, #root {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
body {
    min-height: 100vh;
    background:
        radial-gradient(circle at top, var(--bg-blue-dark) 60%, transparent),
        radial-gradient(ellipse at bottom, #1a3044, transparent);
}
main {
    display: flex;
    flex-direction: column;
    place-items: center;
    flex: 1;
}
@keyframes sheen {
    0% {
        background-position: 0% 0%;
    }
    33%, 100% {
        background-position: 100% 0%;
    }
}
@keyframes sheen-header {
    0% {
        background-position: -100% 0%, center center;
    }
    33%, 100% {
        background-position: 100% 0%, center center;
    }
}
h2 {
    background: linear-gradient(-45deg, var(--gold-light) 0%, var(--gold-light) 40%, var(--white-gold) 50%, var(--gold-light) 60%);
    background-clip: text;
    background-size: 300%;
}
h2:hover {
    color: transparent !important;
    animation: sheen 3s 1;
}