.avatar-big {
    display: flex;
    align-items: flex-end;
    width: 384px;
    margin-bottom: 4rem;
    margin-top: 200px;
    overflow: visible;
}
.background-img-big {
    position: absolute;
    display: flex;
    place-items: center;
    pointer-events: none;
    width: 384px;
    z-index: 1;
    transition: filter 1s;
    transform: translate(0, 135px);
}
.img-wrapper-big {
    width: 100%;
    height: auto;
    place-items: center;
    position: relative;
    z-index: 2;
    & img {
        border-radius: 50%;
        width: 128px;
        height: 128px;
    }
}
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 512px;
    margin-bottom: -2rem;
    background-image: url('/banners/unranked.png');
    background-repeat: no-repeat;
    background-position: center 0%;
    background-size: 640px 640px;
    filter: drop-shadow(0 8px 8px #111);
    animation: banner-bounce 1 1s ease-in-out forwards;
}
.player-page-body {
    background: radial-gradient(#222, #000);
    & main {
        width: 1280px;
        margin: 0 auto;
    }
    & .header {
        margin-bottom: 0 !important;
    }
    & footer {
        margin-top: 0;
    }
}
@keyframes banner-bounce {
    0% {
        background-position-y: -640px;
        background-size: 640px 660px;
        animation-timing-function: ease-in;
    }
    40% {
        background-position-y: 0px;
        background-size: 640px 640px;
        animation-timing-function: ease-out;
    }
    60% {
        background-position-y: -35px;
        background-size: 640px 650px;
    }
    75% {
        background-position-y: 0px;
        background-size: 640px 640px;
    }
    90% {
        background-position-y: -10px;
        background-size: 640px 643px;
    }
    100% {
        background-position-y: 0%;
        background-size: 640px 640px;
    }
}