@import 'tailwindcss';
@font-face {
    font-family: 'BeaufortForLoL';
    src: url('/fonts/BeaufortForLoL-TTF/BeaufortforLOL-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Spiegel';
    src: url('/fonts/Spiegel-TTF/Spiegel_TT_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* UI */
    --bg-teal-dark: #1a3044;
    --bg-blue-light: #0f1d2b;
    --bg-blue-dark: #0B121F;
    --bg-blue-dark-transparent: #0b121fbf;
    --grey-light: #303030;
    --grey-dark: #202020;
    --gold-light: #C4A15B;
    --gold-dark: #7a5917;
    --white-gold: #ffe7b7;
    --league-yellow: #c28f2c;
    /* CHALLENGE RANKING */
    /* uses gold from UI colors */
    --silver-light: #C0C0C0;
    --silver-dark: #707070;
    --bronze-light: #86473F;
    --bronze-dark: #4C2F27;
    /* GAME RANKS */
    --rank-unranked: #ffffff;
    --rank-iron: #505050;
    --rank-bronze: #965A32;
    --rank-silver: #C0C0C0;
    --rank-gold: #FFD700;
    --rank-platinum: #00B4A0;
    --rank-emerald: #50C878;
    --rank-diamond: #00B4FF;
    --rank-master: #f156ff;
    cursor: url('/cursors/hand.png'), auto
}
/* CUSTOM CURSOR */
a, button, [role="button"], input[type="button"], input[type="submit"] {
    cursor: url('/cursors/hand-glow.png'), auto !important;
}
/* GLOBAL CLASSES */
.icon-bg {
    background: radial-gradient(var(--bg-blue-light), var(--bg-blue-dark)) !important;
}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    place-items: center;
}
.lol-button {
    border-width: 1px solid transparent !important;
    border-image: linear-gradient(var(--gold-light), var(--gold-dark)) 1 !important;
    &:hover {
        background-color: var(--bg-blue-light);
    }
}
.no-select {
    user-select: none;
}
@keyframes sheen {
    0% {
        background-position: 0% 0%;
    }
    33%, 100% {
        background-position: 150% 0%;
    }
}