.home-button {
    background: linear-gradient(-45deg, #C4A15B 0%, #C4A15B 40%, #ffe7b7 50%, #C4A15B 60%);
    background-clip: text;
    background-size: 300%;
}
.home-button:hover {
    color: transparent !important;
    animation: sheen 2s 1;
}